@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom global styles should come after the Tailwind directives */
:root {
  --background: #000000;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
